@import url('http://fonts.googleapis.com/css?family=Open+Dans');

body{
  font-family: "Open Sans", serif;
}

.wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(105, 102, 196);
}

.main{
  height: 55vh;
  background: #2a6bb1;
  box-shadow: 0px 2px 80px -20px rgba(0, 0, 0, 0.5);
  width: 60%;
  margin: 0 auto;
}

.info{
  height: 55vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.pexels.com/photos/1730560/pexels-photo-1730560.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
}

.form{
  height: 55vh;
  padding-top: 100px;
  padding-left: 50px;
}
input::-webkit-input-placeholder{
  color: white;
}
input::-moz-placeholder{
  color: white;
}

button {
  border: 2px solid #103a65;
  border-bottom: 4px solid #103a65;
  padding: 6px 20px;
  margin: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #235d9c;
  color: #fff;
  outline: none !important;
}

button:hover{
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
}

button:active{
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2{
  font-size: 3em;
  color: #fff;
}

.info p{
  color: #e4e4e4;
  font-weight: bold;
}

input[type='text']{
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.error{
  color: white;
  font-weight: bold;
}

.infoWeather{
  width: 60%;
  font-size: 20px;
  color: white;
}
